In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.ensemble import VotingRegressor
%matplotlib inline
import xgboost as xgb

from sklearn.model_selection import train_test_split

In [2]:
AlkaliLoadData = pd.read_csv("C:/Users/aksha/OneDrive/Desktop/alkaliData.csv", encoding='unicode_escape')
AlkaliLoadData.head()

   Na2O%    Ms   W/B  SA (m²/kg)    Kb    28d
0    4.0  0.75  0.47         527  0.96  43.80
1    4.0  1.00  0.47         527  0.96  48.96
2    4.0  1.50  0.47         527  0.96  48.05
3    4.0  2.00  0.47         527  0.96  33.44
4    6.0  0.75  0.47         527  0.96  46.71

In [3]:
X= AlkaliLoadData.drop(columns='28d')
y=AlkaliLoadData['28d']

In [4]:
model1 = xgb.XGBRegressor(objective='reg:squarederror', random_state=42)
model2 = xgb.XGBRegressor(objective='reg:squarederror', random_state=42)

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [6]:
ensemble_model = VotingRegressor(estimators=[('model1', model1), ('model2', model2)])

# Fit the ensemble model on the training data
ensemble_model.fit(X_train, y_train)

# Predict on the test set
predictions = ensemble_model.predict(X_test)

In [7]:
from sklearn.metrics import r2_score
r2_score(y_test, predictions)

0.7179260966438166

In [8]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error

In [10]:
mse= mean_squared_error(y_test, predictions)
print('mean sq error ', mse)

mean sq error  139.48688208877118

In [12]:
from sklearn.metrics import mean_absolute_error
mae= mean_absolute_error(y_test, predictions)
mape = np.mean(np.abs((y_test - predictions)/y_test))*100
print('mean absolute error is ', mae)
print('mean absolute percent error is ', mape)

mean absolute error is  8.380938699168544
mean absolute percent error is  16.58722064161183